@charset "UTF-8";

/* Подчеркивание текста карандаша, для админа */
.admin, span h1, span h2, span h3, span h4, span h5 {
    cursor: pointer; border-bottom: dashed 1px #0088cc;
}

/* Зеленый фон для кнопки "Добавить раздел" в окне создания/редактирования записи */
.badge {
    background-color: #5cb85c
}

/* Фон на котором располгаются формы для ввода */
.form-input {
    background-color: #fafbfb
}

/* В отдельной статье редактируем отступы между заголовками и тексом + там же комментарии */
.comments {margin: 0px 0 0px 0;}
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
}
.mb-4 {margin-bottom: 1.0rem !important;}

/* меняем отображение фото */
.img {
    height: 50px;
}
.img img {
    height: 100%; float: left; margin: 5px;
}

/* Убираем отступ при выводе blogMany */
.blogpost {
    margin: 0px;
}

/* Дизайн дерева категории */
.kv-tree-container {background-color: #f6f8f8;}
.kv-node-detail {background-color: #f6f8f8;}
.kv-node-indicators {background-color: #f6f8f8;}
.kv-tree-root {background-color: #f6f8f8;}
.kv-tree > li:last-child > ul, .kv-parent ul li:last-child > ul {    box-shadow: -5px 0 0 #f6f8f8;}

/* Убираем ошибку с шириной пунктов меню в админке */
.el_primary {
    width: 100%;
    background-color: #5a6667;
}

/* Выравнивание заголовка модальных окон по центру */
.modal-header {
    text-align: center;
    display: block;
}

/* Плавающая кнопка внизу экрана */
.button-fixed {
    color: #ffffff;
    position: fixed;
    bottom: 5px;
    left: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1005;
}

.btn-default-transparent {
    color: #ffffff;
    background-color: #469ef5;
}

/* Удаление слайдера (плавающая кнопка) */
.slider-trash {
    cursor: pointer;
    margin-left: -7px !important;
    height: 29px !important;
    border-color: #963434 !important;
    background-color: #963434 !important;
}

/* Делаем нормальный заголовок с кнопками в админке */
.panel-default>.panel-heading {
    padding: 15px 15px !important;
    background: #fff !important;
}