thead a {color: white}
thead a:hover {color: black}
thead a:focus, a:active {color: black}
thead {color: #F6F6F6}

.table.table-colored {
    border-bottom-color: #3e74a9;
}

.table-colored > thead > tr > th {
    border-color: #469ef5;
    background-color: #4a7fb3;
    color: #E4E4E4;
}

.table-striped.table > tbody > tr > td {
    background-color: #4c4949;
    border-color: #909090;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #5d5d5d;
}
.filters {
    background-color: #403e3e;
}